
mixin modal() 
	//  start modals
	//- .callback_frame.jqmWindow.jqm-init.show(style='width: 500px; z-index: 3000; margin-left: -250px; top: 141px; opacity: 1; display: none;' data-trigger='%7B%22class%22%3A%22animate-load%22%2C%22data-event%22%3A%22jqm%22%2C%22data-param-id%22%3A%2227%22%2C%22data-name%22%3A%22callback%22%7D')
		span.jqmClose.top-close.fa.fa-close
		#comp_0d8a59c71a0e1cf69c9319cf971db89f
			.form.popup
				form(name='aspro_allcorp2_callback' action='/ajax/form.php?id=27&data-trigger=%7B%22class%22%3A%22animate-load%22%2C%22data-event%22%3A%22jqm%22%2C%22data-param-id%22%3A%2227%22%2C%22data-name%22%3A%22callback%22%7D' method='POST' enctype='multipart/form-data' novalidate='novalidate')
					input#bxajaxid_0d8a59c71a0e1cf69c9319cf971db89f_8BACKi(type='hidden' name='bxajaxid' value='0d8a59c71a0e1cf69c9319cf971db89f')
					input(type='hidden' name='AJAX_CALL' value='Y')
					script.
						function _processform_8BACKi(){
						if (BX('bxajaxid_0d8a59c71a0e1cf69c9319cf971db89f_8BACKi'))
						{
						var obForm = BX('bxajaxid_0d8a59c71a0e1cf69c9319cf971db89f_8BACKi').form;
						BX.bind(obForm, 'submit', function() {BX.ajax.submitComponentForm(this, 'comp_0d8a59c71a0e1cf69c9319cf971db89f', true)});
						}
						BX.removeCustomEvent('onAjaxSuccess', _processform_8BACKi);
						}
						if (BX('bxajaxid_0d8a59c71a0e1cf69c9319cf971db89f_8BACKi'))
						_processform_8BACKi();
						else
						BX.addCustomEvent('onAjaxSuccess', _processform_8BACKi);
					input#sessid(type='hidden' name='sessid' value='c2ea2cb575441d8ed19e49e7b005a986')
					.form-header
						.text
							.title Обратный звонок
							| 																	Представьтесь, мы вам перезвоним.
					.form-body
						.row(data-sid='FIO')
							.col-md-12
								.form-group
									label(for='POPUP_FIO')
										| Ваше имя: 
										span.required-star *
									.input
										input#POPUP_FIO.form-control.required(type='text' name='FIO' value='' aria-required='true')
										i.fa.fa-user
						.row(data-sid='PHONE')
							.col-md-12
								.form-group
									label(for='POPUP_PHONE')
										| Телефон: 
										span.required-star *
									.input
										input#POPUP_PHONE.form-control.required.phone(type='tel' name='PHONE' value='' aria-required='true')
										i.fa.fa-phone
						.row.captcha-row
							.col-md-12
								label(for='captcha_word')
									| Введите код:
									span.required-star *
								.captcha_image
									img.captcha_img(src='/bitrix/tools/captcha.php?captcha_sid=0a396a27738ce15ca266b2aa7499b804' border='0')
									input.captcha_sid(type='hidden' name='captcha_sid' value='0a396a27738ce15ca266b2aa7499b804')
									.captcha_reload
									span.refresh
										a(href='javascript:;' rel='nofollow') Поменять картинку
								.captcha_input
									input.inputtext.form-control.captcha(type='text' name='captcha_word' size='30' maxlength='50' value='' required='' aria-required='true')
					.form-footer.clearfix
						.licence_block.bx_filter
							input#licenses_popup(type='checkbox' name='licenses_popup' required='' value='Y' aria-required='true')
							label(for='licenses_popup')
								| Я согласен на 
								a(href='/include/licenses_detail.php' target='_blank') обработку персональных данных
						div
							button.btn-lg.btn.btn-default(type='submit') Отправить
							br
							input(type='hidden' name='form_submit' value='Отправить')
			script.
				$(document).ready(function(){
				$('.popup form[name="aspro_allcorp2_callback"]').validate({
				ignore: ".ignore",
				highlight: function( element ){
				$(element).parent().addClass('error');
				},
				unhighlight: function( element ){
				$(element).parent().removeClass('error');
				},
				submitHandler: function( form ){
				if( $('.popup form[name="aspro_allcorp2_callback"]').valid() ){
				$(form).find('button[type="submit"]').attr('disabled', 'disabled');
				var eventdata = {type: 'form_submit', form: form, form_name: 'aspro_allcorp2_callback'};
				BX.onCustomEvent('onSubmitForm', [eventdata]);
				}
				},
				errorPlacement: function( error, element ){
				error.insertBefore(element);
				},
				messages:{
				licenses_popup: {
				required : BX.message('JS_REQUIRED_LICENSES')
				}
				}
				});
				if(arAllcorp2Options['THEME']['PHONE_MASK'].length){
				var base_mask = arAllcorp2Options['THEME']['PHONE_MASK'].replace( /(\\d)/g, '_' );
				$('.popup form[name="aspro_allcorp2_callback"] input.phone').inputmask('mask', {'mask': arAllcorp2Options['THEME']['PHONE_MASK'], 'showMaskOnHover': false });
				$('.popup form[name="aspro_allcorp2_callback"] input.phone').blur(function(){
				if( $(this).val() == base_mask || $(this).val() == '' ){
				if( $(this).hasClass('required') ){
				$(this).parent().find('div.error').html(BX.message('JS_REQUIRED'));
				}
				}
				});
				}
				if(arAllcorp2Options['THEME']['DATE_MASK'].length)
				{
				$('.popup form[name="aspro_allcorp2_callback"] input.date').inputmask('datetime', {
				'inputFormat':  arAllcorp2Options['THEME']['DATE_MASK'],
				'placeholder': arAllcorp2Options['THEME']['DATE_PLACEHOLDER'],
				'showMaskOnHover': false
				});
				}
				if(arAllcorp2Options['THEME']['DATETIME_MASK'].length)
				{
				$('.popup form[name="aspro_allcorp2_callback"] input.datetime').inputmask('datetime', {
				'inputFormat':  arAllcorp2Options['THEME']['DATETIME_MASK'],
				'placeholder': arAllcorp2Options['THEME']['DATETIME_PLACEHOLDER'],
				'showMaskOnHover': false
				});
				}
				$('.jqmClose').closest('.jqmWindow').jqmAddClose('.jqmClose');
				$('input[type=file]').uniform({fileButtonHtml: BX.message('JS_FILE_BUTTON_NAME'), fileDefaultHtml: BX.message('JS_FILE_DEFAULT')});
				$(document).on('change', 'input[type=file]', function(){
				if($(this).val())
				{
				$(this).closest('.uploader').addClass('files_add');
				}
				else
				{
				$(this).closest('.uploader').removeClass('files_add');
				}
				})
				$('.form .add_file').on('click', function(){
				var container = $(this).closest('.input'),
				index = container.find('input[type=file]').length+1,
				name = container.find('input[type=file]:first').attr('name');
				$('<input type="file" id="POPUP_FILE" name="'+name.replace('n0', 'n'+index)+'"   class="inputfile" value="" />').insertBefore($(this));
				$('input[type=file]').uniform({fileButtonHtml: BX.message('JS_FILE_BUTTON_NAME'), fileDefaultHtml: BX.message('JS_FILE_DEFAULT')});
				})
				});
	
	
	//- .question_frame.jqmWindow.jqm-init.show(style='width: 500px; z-index: 3000; margin-left: -250px; top: 0px; opacity: 1; display: none;' data-trigger='%7B%22class%22%3A%22animate-load%22%2C%22data-event%22%3A%22jqm%22%2C%22data-param-id%22%3A%2226%22%2C%22data-name%22%3A%22question%22%7D')
		span.jqmClose.top-close.fa.fa-close
		#comp_0d8a59c71a0e1cf69c9319cf971db89f
			.form.popup
				form(name='aspro_allcorp2_question' action='/ajax/form.php?id=26&data-trigger=%7B%22class%22%3A%22animate-load%22%2C%22data-event%22%3A%22jqm%22%2C%22data-param-id%22%3A%2226%22%2C%22data-name%22%3A%22question%22%7D' method='POST' enctype='multipart/form-data' novalidate='novalidate')
					input#bxajaxid_0d8a59c71a0e1cf69c9319cf971db89f_8BACKi(type='hidden' name='bxajaxid' value='0d8a59c71a0e1cf69c9319cf971db89f')
					input(type='hidden' name='AJAX_CALL' value='Y')
					script.
						function _processform_8BACKi(){
						if (BX('bxajaxid_0d8a59c71a0e1cf69c9319cf971db89f_8BACKi'))
						{
						var obForm = BX('bxajaxid_0d8a59c71a0e1cf69c9319cf971db89f_8BACKi').form;
						BX.bind(obForm, 'submit', function() {BX.ajax.submitComponentForm(this, 'comp_0d8a59c71a0e1cf69c9319cf971db89f', true)});
						}
						BX.removeCustomEvent('onAjaxSuccess', _processform_8BACKi);
						}
						if (BX('bxajaxid_0d8a59c71a0e1cf69c9319cf971db89f_8BACKi'))
						_processform_8BACKi();
						else
						BX.addCustomEvent('onAjaxSuccess', _processform_8BACKi);
					input#sessid(type='hidden' name='sessid' value='c2ea2cb575441d8ed19e49e7b005a986')
					.form-header
						.text
							.title Задать вопрос
							| 																	Менеджеры компании с радостью ответят на ваши вопросы и произведут расчет стоимости услуг и подготовят индивидуальное коммерческое предложение.
					.form-body
						.row(data-sid='NAME')
							.col-md-12
								.form-group
									label(for='POPUP_NAME')
										| Ваше имя: 
										span.required-star *
									.input
										input#POPUP_NAME.form-control.required(type='text' name='NAME' value='' aria-required='true')
										i.fa.fa-user
						.row(data-sid='PHONE')
							.col-md-12
								.form-group
									label(for='POPUP_PHONE')
										| Телефон: 
										span.required-star *
									.input
										input#POPUP_PHONE.form-control.required.phone(type='tel' name='PHONE' value='' aria-required='true')
										i.fa.fa-phone
						.row(data-sid='EMAIL')
							.col-md-12
								.form-group
									label(for='POPUP_EMAIL') E-mail: 
									.input
										input#POPUP_EMAIL.form-control(type='email' name='EMAIL' value='')
										i.fa.fa-envelope
						.row(data-sid='NEED_PRODUCT')
							.col-md-12
								.form-group
									label(for='POPUP_NEED_PRODUCT') Интересующий товар/услуга: 
									.input
										input#POPUP_NEED_PRODUCT.form-control(type='text' name='NEED_PRODUCT' value='')
						.row(data-sid='MESSAGE')
							.col-md-12
								.form-group
									label(for='POPUP_MESSAGE')
										| Сообщение: 
										span.required-star *
									.input
										textarea#POPUP_MESSAGE.form-control.required(rows='3' name='MESSAGE' aria-required='true')
										i.fa.fa-pencil
						.row.captcha-row
							.col-md-12
								label(for='captcha_word')
									| Введите код:
									span.required-star *
								.captcha_image
									img.captcha_img(src='/bitrix/tools/captcha.php?captcha_sid=00b348a8d47b2ce4aa4c05e83b9db5a7' border='0')
									input.captcha_sid(type='hidden' name='captcha_sid' value='00b348a8d47b2ce4aa4c05e83b9db5a7')
									.captcha_reload
									span.refresh
										a(href='javascript:;' rel='nofollow') Поменять картинку
								.captcha_input
									input.inputtext.form-control.captcha(type='text' name='captcha_word' size='30' maxlength='50' value='' required='' aria-required='true')
					.form-footer.clearfix
						.licence_block.bx_filter
							input#licenses_popup(type='checkbox' name='licenses_popup' required='' value='Y' aria-required='true')
							label(for='licenses_popup')
								| Я согласен на 
								a(href='/include/licenses_detail.php' target='_blank') обработку персональных данных
						div
							button.btn-lg.btn.btn-default(type='submit') Отправить
							br
							input(type='hidden' name='form_submit' value='Отправить')
			script.
				$(document).ready(function(){
				$('.popup form[name="aspro_allcorp2_question"]').validate({
				ignore: ".ignore",
				highlight: function( element ){
				$(element).parent().addClass('error');
				},
				unhighlight: function( element ){
				$(element).parent().removeClass('error');
				},
				submitHandler: function( form ){
				if( $('.popup form[name="aspro_allcorp2_question"]').valid() ){
				$(form).find('button[type="submit"]').attr('disabled', 'disabled');
				var eventdata = {type: 'form_submit', form: form, form_name: 'aspro_allcorp2_question'};
				BX.onCustomEvent('onSubmitForm', [eventdata]);
				}
				},
				errorPlacement: function( error, element ){
				error.insertBefore(element);
				},
				messages:{
				licenses_popup: {
				required : BX.message('JS_REQUIRED_LICENSES')
				}
				}
				});
				if(arAllcorp2Options['THEME']['PHONE_MASK'].length){
				var base_mask = arAllcorp2Options['THEME']['PHONE_MASK'].replace( /(\\d)/g, '_' );
				$('.popup form[name="aspro_allcorp2_question"] input.phone').inputmask('mask', {'mask': arAllcorp2Options['THEME']['PHONE_MASK'], 'showMaskOnHover': false });
				$('.popup form[name="aspro_allcorp2_question"] input.phone').blur(function(){
				if( $(this).val() == base_mask || $(this).val() == '' ){
				if( $(this).hasClass('required') ){
				$(this).parent().find('div.error').html(BX.message('JS_REQUIRED'));
				}
				}
				});
				}
				if(arAllcorp2Options['THEME']['DATE_MASK'].length)
				{
				$('.popup form[name="aspro_allcorp2_question"] input.date').inputmask('datetime', {
				'inputFormat':  arAllcorp2Options['THEME']['DATE_MASK'],
				'placeholder': arAllcorp2Options['THEME']['DATE_PLACEHOLDER'],
				'showMaskOnHover': false
				});
				}
				if(arAllcorp2Options['THEME']['DATETIME_MASK'].length)
				{
				$('.popup form[name="aspro_allcorp2_question"] input.datetime').inputmask('datetime', {
				'inputFormat':  arAllcorp2Options['THEME']['DATETIME_MASK'],
				'placeholder': arAllcorp2Options['THEME']['DATETIME_PLACEHOLDER'],
				'showMaskOnHover': false
				});
				}
				$('.jqmClose').closest('.jqmWindow').jqmAddClose('.jqmClose');
				$('input[type=file]').uniform({fileButtonHtml: BX.message('JS_FILE_BUTTON_NAME'), fileDefaultHtml: BX.message('JS_FILE_DEFAULT')});
				$(document).on('change', 'input[type=file]', function(){
				if($(this).val())
				{
				$(this).closest('.uploader').addClass('files_add');
				}
				else
				{
				$(this).closest('.uploader').removeClass('files_add');
				}
				})
				$('.form .add_file').on('click', function(){
				var container = $(this).closest('.input'),
				index = container.find('input[type=file]').length+1,
				name = container.find('input[type=file]:first').attr('name');
				$('<input type="file" id="POPUP_FILE" name="'+name.replace('n0', 'n'+index)+'"   class="inputfile" value="" />').insertBefore($(this));
				$('input[type=file]').uniform({fileButtonHtml: BX.message('JS_FILE_BUTTON_NAME'), fileDefaultHtml: BX.message('JS_FILE_DEFAULT')});
				})
				});


	+b.modal-win(id="modal-question" class=" " style="display: none" )
		+form-wrap
			+e.H2.title.form-data.ttu Задать вопрос
			+e.text Наш специалист свяжется с&nbsp;вами в&nbsp;течение 20&nbsp;минут и&nbsp;предоставит всю необходимую информацию по&nbsp;интересующей вас продукции.
			.flexRow
				.col-MD-6 
					+input('Введите Ваше имя','text','Ваше имя')
				.col-MD-6 
					+input('+7(___) ___-__-__','tel','Номер телефона')(required)  
				.col-MD-6 
					+input('Введите e-mail','email','Ваш e-mail')
				.col-MD-6 
					+input("Введите сообщение",'text','Сообщение')(required)
			+e.wrap
				+polite()
				+e.BUTTON.btn.btn.btn-red.btn-lg(type="submit") Отправить
	// #modal-call
	
	// end modals