// start .sProdCard
.sProdCard {
	--sPT: 20px;
	--sPB: 20px;
	// --sTPB: ;
	
	&__inner {
		padding-left: 15px;
		padding-right: 15px;
	}

	.footer-button {
		opacity: 1;
	}

	.bottom-wrapper {
		@include media-breakpoint-up(sm) {
			width: 320px;
		}
		@include media-breakpoint-only(lg) {
			width: auto;
		}
		margin-left: auto;
	}

	.buy_block {
		@include media-breakpoint-down(sm) {
			display: flex !important;
			flex-direction: column;

			&::before, &::after {
				display: none;
			}
		}
		@include media-breakpoint-only(lg) {
			display: flex !important;
			flex-direction: column;

			&::before, &::after {
				display: none;
			}
		}
		.counter {
		max-width: 120px;
			@include media-breakpoint-only(lg) {
				margin-left: auto;
				margin-bottom: 10px;
				float: right !important;
				max-width: 184px;
			}

			@include media-breakpoint-down(sm) {
				// margin-left: auto;
				margin-bottom: 10px;
				max-width: 184px;
			}
		}
	}

	.pull-right {
		display: flex;
		flex-direction: column;

		.btn {
			@include media-breakpoint-up(lg) {
				margin-right: 0;
			}
		}
	}

	.flexslider .slides {
		width: 100% !important;
		li {
			width: 100% !important;
			height: auto !important;
			line-height: normal !important;
		}
		a {
			display: block;
		}
		img {
			max-width: 100%;
			vertical-align: top;
		}
	}

	.galery {

	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		margin-left: -15px;
		margin-right: -15px;

		&::before, &::after {
			display: none;
		}
	}

	&__lCol{
		max-width: 100%;
		flex: 1 0 0%;
		width: 100%;
		@include media-breakpoint-down(md) {
			padding-left: 15px;
			margin-bottom: 15px;
		}

	}

	&__rCol {
		max-width: 100%;
		flex: 0 0 auto;
		width: auto;
		padding-right: 15px;
		padding-left: 15px;

		// width: 340px;
	}

	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sProdCard

.tabs .nav-tabs  {
	display: flex;
	flex-wrap: wrap;
	float: none;
}