// start .sProdCard
.sProdCard {
	// --sPT: ;
	// --sPB: ;
	// --sTPB: ;
	
	&__inner {
		padding-left: 15px;
		padding-right: 15px;
	}

	.footer-button {
		opacity: 1;
	}

	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sProdCard