// start .sStat
.sStat {
	// --sPT: ;
	--sPB: 10px;
	// --sTPB: ;

	&__item {
		border: 3px solid #efefef;
		border-radius: 10px;
		margin-bottom: 18px;
		padding: 24px 18px;
		margin-bottom: 12px;
	}

	&__type {
		font-weight: 500;
		font-size: 24px;
		line-height: 28px;
		color: #f2b61a;
		margin-bottom: 22px;
	}

	h3 {
		font-weight: 500;
		font-size: 20px;
		line-height: 10px;
		color: #e84c3d;
		margin-bottom: 23px;
		margin-top: 0;
	}

	ul {
		list-style: none;

		li {
			display: flex;
			align-items: center;
			font-weight: bold;
			font-size: 16px;
			margin-bottom: 22px;
			padding-left: 0;

			&::before {
				content: "";
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background: #f2b61a;
				margin-right: 12px;
				position: relative;
				top: -2px;
			}
		}
	}

	.row {
		@include roww(12px);
		display: flex;
		flex-wrap: wrap;

		&::before,
		&::after {
			display: none;
		}
	}
	@media (min-width: 992px) {
		.col-md-4 {
			flex: 0 0 33.333333%;
		}
	}

	&__groupHead {
		font-weight: 500;
		font-size: 14px;
		color: #b1b5b6;
		margin-bottom: 14px;
	}

	&__groupFoot {
		font-weight: bold;
		font-size: 16px;
	}

	&__line {
		border-left: 3px solid #f2b61a;
		padding-left: 18px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-bottom: 32px;
		min-height: 36px;
		font-weight: bold;

		span {
			color: #828282;
		}
	}

	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sStat
