mixin sProject(data)
	// start sProject
	+b.sProject.drag-block.container
		.maxwidth-theme
			+e.inner.bg-light
				+e.row.row.justify-content-between
					.col-lg-10
						.section-title
							h2 Реализованые проекты
					.col-lg-2
						+e.allProject(href="#") Все услуги
				.flexRow
					.col-LG-3
						p
							strong Специализируемся на услугах для малого и среднего бизнеса. Работаем с физическими и юридическими лицами.
						p 10 лет на рынке проектирования, консалтинга и крупных поставок промышленного оборудования.
						+e.btn.btn.btn-default.btn-lg.btn-transparent-bg(href='#') Подробнее
					.col-LG-9
						mixin item(i,t)
							+e.item(href="#")
								+pic(`project-${i}.jpg`,'bg')(class="picture-bg")
								+e.wrap
									+e.text= t
									+e.hidden Lorem ipsum dolor sit amet consectetur adipisicing elit. 
						+e.itemRow.flexRow
							.col-MD-6
								+item('1','Английский язык для бизнеса')
							.col-MD-6
								+e.itemRow.flexRow
									.col-SM-6
										+item('1','Монтаж сайдинга')
									.col-SM-6
										+item('1','Охранные системы')
							.col-MD-6
								+e.itemRow.flexRow
									.col-SM-6
										+item('1','Сварочные работы')
									.col-SM-6
										+item('1','POS-системы')
							.col-MD-6
								+item('1','Дизайн интерьеров')









	// end sProject