mixin sDescr(data)
	// start sDescr
	+b.sDescr.drag-block.container.section#sDescr&attributes(attributes)
		.maxwidth-theme
			+e.inner
				.row.catalog.detail
					.col-md-9
						.drag_block.tab
							.tabs.grey
								.tabs-head.arrow_scroll.arrow_scroll_init.swipeignore(style='overflow: hidden; position: relative;')
									.arrows_wrapper
										.arrow.arrow_left.colored_theme_hover_text.disabled
											svg(xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8')
												rect(width='12' height='8' fill='#333' fill-opacity='0')
												path(d='M1015.69,507.693a0.986,0.986,0,0,1-1.4,0l-4.31-4.316-4.3,4.316a0.993,0.993,0,0,1-1.4-1.408l4.99-5.009a1.026,1.026,0,0,1,1.43,0l4.99,5.009A0.993,0.993,0,0,1,1015.69,507.693Z' fill='#333' transform='translate(-1004 -501)')
										.arrow.arrow_right.colored_theme_hover_text.disabled
											svg(xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8')
												rect(width='12' height='8' fill='#333' fill-opacity='0')
												path(d='M1015.69,507.693a0.986,0.986,0,0,1-1.4,0l-4.31-4.316-4.3,4.316a0.993,0.993,0,0,1-1.4-1.408l4.99-5.009a1.026,1.026,0,0,1,1.43,0l4.99,5.009A0.993,0.993,0,0,1,1015.69,507.693Z' fill='#333' transform='translate(-1004 -501)')
									ul.nav.nav-tabs(style='white-space: nowrap; min-width: auto; overflow: visible; z-index: 1; transform: translateX(1px);')
										li.active
											a(href='#desc' data-toggle='tab') Описание
										li
											a(href='#props' data-toggle='tab') Оплата и отгрузка
										li
											a(href='#delivery' data-toggle='tab') Доставка и гарантия
										li
											a(href='#return' data-toggle='tab') Условия возврата
										li
											a(href='#reviews' data-toggle='tab') Отзывы
								.tab-content
									#desc.tab-pane.chars.active
										.title-tab-heading.visible-xs Описание
										.content(itemprop='description')
											| Медный лист М1Е 0,40 500 500 ГОСТ 1173-2006 - металлургическая продукция из качественных сортов стали, производимая строго в соответствии с требованиями ГОСТ. Изделия имеют разнообразный спектр функциональности в области промышленности, строительства, сельского хозяйства. Медный лист М1Е 0,40 500 500 ГОСТ 1173-2006 обладает высокоэффективными характеристиками, которые способствуют долгосрочной, продуктивной службе различных систем и конструкций. Широкий сортамент обеспечивает максимально точной подбор продукции по всем размерным, функциональным и видовым показателям.
									#props.tab-pane
										.title-tab-heading.visible-xs Характеристики
										.char-wrapp
											table.props_table
												tbody
													tr.char
														td.char_name
															span Марка
														td.char_value
															span
																| М1Е
													tr.char
														td.char_name
															span Ширина
														td.char_value
															span
																| 500
									#delivery.tab-pane
										.title-tab-heading.visible-xs Описание
										.content(itemprop='description')
											| Медный лист М1Е 0,40 500 500 ГОСТ 1173-2006 - металлургическая продукция из качественных сортов стали, производимая строго в соответствии с требованиями ГОСТ. Изделия имеют разнообразный спектр функциональности в области промышленности, строительства, сельского хозяйства. Медный лист М1Е 0,40 500 500 ГОСТ 1173-2006 обладает высокоэффективными характеристиками, которые способствуют долгосрочной, продуктивной службе различных систем и конструкций. Широкий сортамент обеспечивает максимально точной подбор продукции по всем размерным, функциональным и видовым показателям.
									#return.tab-pane
										.title-tab-heading.visible-xs Описание
										.content(itemprop='description')
											| Медный лист М1Е 0,40 500 500 ГОСТ 1173-2006 - металлургическая продукция из качественных сортов стали, производимая строго в соответствии с требованиями ГОСТ. Изделия имеют разнообразный спектр функциональности в области промышленности, строительства, сельского хозяйства. Медный лист М1Е 0,40 500 500 ГОСТ 1173-2006 обладает высокоэффективными характеристиками, которые способствуют долгосрочной, продуктивной службе различных систем и конструкций. Широкий сортамент обеспечивает максимально точной подбор продукции по всем размерным, функциональным и видовым показателям.
									#return.tab-pane
										.title-tab-heading.visible-xs Описание
										.content(itemprop='description')
											| Медный лист М1Е 0,40 500 500 ГОСТ 1173-2006 - металлургическая продукция из качественных сортов стали, производимая строго в соответствии с требованиями ГОСТ. Изделия имеют разнообразный спектр функциональности в области промышленности, строительства, сельского хозяйства. Медный лист М1Е 0,40 500 500 ГОСТ 1173-2006 обладает высокоэффективными характеристиками, которые способствуют долгосрочной, продуктивной службе различных систем и конструкций. Широкий сортамент обеспечивает максимально точной подбор продукции по всем размерным, функциональным и видовым показателям.
									#reviews.tab-pane
										.title-tab-heading.visible-xs Описание
										.content(itemprop='description')
											| Медный лист М1Е 0,40 500 500 ГОСТ 1173-2006 - металлургическая продукция из качественных сортов стали, производимая строго в соответствии с требованиями ГОСТ. Изделия имеют разнообразный спектр функциональности в области промышленности, строительства, сельского хозяйства. Медный лист М1Е 0,40 500 500 ГОСТ 1173-2006 обладает высокоэффективными характеристиками, которые способствуют долгосрочной, продуктивной службе различных систем и конструкций. Широкий сортамент обеспечивает максимально точной подбор продукции по всем размерным, функциональным и видовым показателям.
						.drag_block.comments
							p
								font.errortext В настройках компонента не выбран ни один тип комментариев
					.col-md-3.hidden-xs.hidden-sm
						.fixed_block_fix
						.ask_a_question_wrapper(style='min-height: 382px;')
							.ask_a_question(style='top: 0px; width: auto;')
								.inner
									.text-block
										i.svg.inline.svg-inline-ask.colored(aria-hidden='true')
											svg(xmlns='http://www.w3.org/2000/svg' width='88' height='78' viewBox='0 0 88 78')
												defs
													style.
														.qcls-1 {
														fill: #222;
														fill-rule: evenodd;
														}
												path.qcls-1(d='M80,67H77V78H74.719l-11-11H25a1,1,0,0,1,0-2H64.719l10,10H75V65h5a6,6,0,0,0,6-6V21a6,6,0,0,0-6-6H79a1,1,0,0,1,0-2h1a8,8,0,0,1,8,8V59A8,8,0,0,1,80,67ZM66,54H24.031L13,65.031V65H11V54H8a8,8,0,0,1-8-8V8A8,8,0,0,1,8,0H66a8,8,0,0,1,8,8V46A8,8,0,0,1,66,54ZM72,8a6,6,0,0,0-6-6H8A6,6,0,0,0,2,8V46a6,6,0,0,0,6,6h5V62h0.313l10-10H66a6,6,0,0,0,6-6V8ZM48.714,20.735L34.767,34.682a1.154,1.154,0,0,1-1.534,0l-6.947-6.947a1.025,1.025,0,0,1,1.45-1.45L34,32.551,47.265,19.286A1.025,1.025,0,0,1,48.714,20.735Z')
										| 							Наши специалисты ответят на любой интересующий вопрос по товару
								.outer
									span
										a.btn.btn-default.btn-lg.btn-transparent-bg.link-modal(href='#modal-question') Задать вопрос
				.row
					.col-md-9
						hr.bottoms
						.row
							.col-md-6.col-sm-6.share
								.shares-block
									script(src='//yastatic.net/share2/share.js' async='async')
									.ya-share2(data-services='vkontakte,facebook,twitter,viber,whatsapp,odnoklassniki,moimir')
							.col-md-6.col-sm-6
								a.back-url.url-block(href='/product/tsvetnoy-prokat/mednyy-prokat/mednyy-list/')
									i.fa.fa-angle-left
									span Назад к списку

					
	// end sDescr


mixin sDescr-noModal(data)
	// start sDescr
	+b.sDescr.drag-block.container.section#sDescr&attributes(attributes)
		.maxwidth-theme
			+e.inner
				.row.catalog.detail
					.col-xs-12
						.drag_block.tab
							.tabs.grey
								.tabs-head.arrow_scroll.arrow_scroll_init.swipeignore(style='overflow: hidden; position: relative;')
									.arrows_wrapper
										.arrow.arrow_left.colored_theme_hover_text.disabled
											svg(xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8')
												rect(width='12' height='8' fill='#333' fill-opacity='0')
												path(d='M1015.69,507.693a0.986,0.986,0,0,1-1.4,0l-4.31-4.316-4.3,4.316a0.993,0.993,0,0,1-1.4-1.408l4.99-5.009a1.026,1.026,0,0,1,1.43,0l4.99,5.009A0.993,0.993,0,0,1,1015.69,507.693Z' fill='#333' transform='translate(-1004 -501)')
										.arrow.arrow_right.colored_theme_hover_text.disabled
											svg(xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8')
												rect(width='12' height='8' fill='#333' fill-opacity='0')
												path(d='M1015.69,507.693a0.986,0.986,0,0,1-1.4,0l-4.31-4.316-4.3,4.316a0.993,0.993,0,0,1-1.4-1.408l4.99-5.009a1.026,1.026,0,0,1,1.43,0l4.99,5.009A0.993,0.993,0,0,1,1015.69,507.693Z' fill='#333' transform='translate(-1004 -501)')
									ul.nav.nav-tabs(style='white-space: nowrap; min-width: auto; overflow: visible; z-index: 1; transform: translateX(1px);')
										li.active
											a(href='#desc' data-toggle='tab') Описание
										li
											a(href='#props' data-toggle='tab') Оплата и отгрузка
										li
											a(href='#delivery' data-toggle='tab') Доставка и гарантия
										li
											a(href='#return' data-toggle='tab') Условия возврата
										li
											a(href='#reviews' data-toggle='tab') Отзывы
								.tab-content
									#desc.tab-pane.chars.active
										.title-tab-heading.visible-xs Описание
										.content(itemprop='description')
											| Медный лист М1Е 0,40 500 500 ГОСТ 1173-2006 - металлургическая продукция из качественных сортов стали, производимая строго в соответствии с требованиями ГОСТ. Изделия имеют разнообразный спектр функциональности в области промышленности, строительства, сельского хозяйства. Медный лист М1Е 0,40 500 500 ГОСТ 1173-2006 обладает высокоэффективными характеристиками, которые способствуют долгосрочной, продуктивной службе различных систем и конструкций. Широкий сортамент обеспечивает максимально точной подбор продукции по всем размерным, функциональным и видовым показателям.
									#props.tab-pane
										.title-tab-heading.visible-xs Характеристики
										.char-wrapp
											table.props_table
												tbody
													tr.char
														td.char_name
															span Марка
														td.char_value
															span
																| М1Е
													tr.char
														td.char_name
															span Ширина
														td.char_value
															span
																| 500
									#delivery.tab-pane
										.title-tab-heading.visible-xs Описание
										.content(itemprop='description')
											| Медный лист М1Е 0,40 500 500 ГОСТ 1173-2006 - металлургическая продукция из качественных сортов стали, производимая строго в соответствии с требованиями ГОСТ. Изделия имеют разнообразный спектр функциональности в области промышленности, строительства, сельского хозяйства. Медный лист М1Е 0,40 500 500 ГОСТ 1173-2006 обладает высокоэффективными характеристиками, которые способствуют долгосрочной, продуктивной службе различных систем и конструкций. Широкий сортамент обеспечивает максимально точной подбор продукции по всем размерным, функциональным и видовым показателям.
									#return.tab-pane
										.title-tab-heading.visible-xs Описание
										.content(itemprop='description')
											| Медный лист М1Е 0,40 500 500 ГОСТ 1173-2006 - металлургическая продукция из качественных сортов стали, производимая строго в соответствии с требованиями ГОСТ. Изделия имеют разнообразный спектр функциональности в области промышленности, строительства, сельского хозяйства. Медный лист М1Е 0,40 500 500 ГОСТ 1173-2006 обладает высокоэффективными характеристиками, которые способствуют долгосрочной, продуктивной службе различных систем и конструкций. Широкий сортамент обеспечивает максимально точной подбор продукции по всем размерным, функциональным и видовым показателям.
									#return.tab-pane
										.title-tab-heading.visible-xs Описание
										.content(itemprop='description')
											| Медный лист М1Е 0,40 500 500 ГОСТ 1173-2006 - металлургическая продукция из качественных сортов стали, производимая строго в соответствии с требованиями ГОСТ. Изделия имеют разнообразный спектр функциональности в области промышленности, строительства, сельского хозяйства. Медный лист М1Е 0,40 500 500 ГОСТ 1173-2006 обладает высокоэффективными характеристиками, которые способствуют долгосрочной, продуктивной службе различных систем и конструкций. Широкий сортамент обеспечивает максимально точной подбор продукции по всем размерным, функциональным и видовым показателям.
									#reviews.tab-pane
										.title-tab-heading.visible-xs Описание
										.content(itemprop='description')
											| Медный лист М1Е 0,40 500 500 ГОСТ 1173-2006 - металлургическая продукция из качественных сортов стали, производимая строго в соответствии с требованиями ГОСТ. Изделия имеют разнообразный спектр функциональности в области промышленности, строительства, сельского хозяйства. Медный лист М1Е 0,40 500 500 ГОСТ 1173-2006 обладает высокоэффективными характеристиками, которые способствуют долгосрочной, продуктивной службе различных систем и конструкций. Широкий сортамент обеспечивает максимально точной подбор продукции по всем размерным, функциональным и видовым показателям.
						h6 Характеристики
						p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure sed iste distinctio hic excepturi aspernatur delectus amet suscipit! Architecto ea laudantium aliquid eos porro fuga inventore maxime vitae enim qui? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos animi quisquam dicta, eaque expedita maxime vel enim quae est voluptate eveniet quis error nihil ipsum nemo aliquid, optio praesentium aspernatur.
						h6 Способ изготовления 
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis, expedita doloribus provident architecto omnis fugit vel at quidem ipsa unde rem ex ullam molestias asperiores quaerat maxime ad accusamus odit. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae molestias ratione, fuga voluptas minus quod? Architecto maxime inventore asperiores dignissimos eaque fugit maiores exercitationem, eligendi culpa dolorem, nostrum facere accusantium.
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ducimus hic maxime rem quae dicta iure atque blanditiis ratione est nam magnam, a dolore, necessitatibus eaque harum facere in possimus!
						ul 
							li радиаторная;
							li общего назначения;
							li для кабелей;
							li электротехнического назначеня;

						.imgMW
							+pic('cvetnoi_prokat_1.jpg')
						.drag_block.comments
							p
								font.errortext В настройках компонента не выбран ни один тип комментариев
					
						

					
	// end sDescr