// start .sDescr
.sDescr {
	--sPT: 0;
	--sPB: 10px;
	// --sTPB: ;
	
	&__inner {
		padding-left: 15px;
		padding-right: 15px;
	}

	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sDescr

.tabs {

	&__caption {
		display: flex;
		flex-wrap: wrap;
		background-color: $light;
	}

	&__btn {
		border: #f6f6f6 1px solid;
		margin-left: -1px;
		margin-right: -1px;
		padding: 10px 7px;
		@include media-breakpoint-up(xl) {
			padding: 20px 15px;
		}
		&.active {
			background-color: #fff;
			border-top: solid 1px $primary;
			border-bottom-color: transparent;
		}
	}

	&__content {
		padding-top: 20px;

		picture, img {
			width: 100%;
		}

		picture {
			margin-bottom: 15px;
		}

		ul {
			padding-left: 15px;
			li {
				padding-left: 0;
				list-style: disc;

				&::before {
					display: none;
				}
			}
		}
		
	}
}